.todo-item.box {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
}
.todo-item-content {
	flex: 1;
}
.todo-item-actions {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex: 0 0 max-content;
}
.todo-item-actions .button.is-rounded {
	display: flex;
	align-items: center;
	padding: 0;
	height: unset;
	min-height: 40px;
	aspect-ratio: 1;
	font-size: 1.25rem;
}
.todo-item.completed .todo-item-content {
	text-decoration: line-through;
	color: #666;
}
.todo-item-delete-button span {
	display: block;
	margin-top: -3px;
	font-size: 1rem;
}
.add-todo-form,
.edit-todo-form {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	margin-block-end: 32px;
}
.add-todo-form-input:invalid + .add-todo-form-button,
.edit-todo-form-input:invalid + .edit-todo-form-button {
	opacity: 0.65;
}
.edit-todo-form.box {
	margin-bottom: 0.5rem;
}
.edit-todo-form.box {
	padding-inline-start: 8px;
}
.list-actions {
	margin-block-start: 2rem;
	gap: 0.5rem;
}
