//- TODO
//- hide if action unavailable

#list-actions.list-actions.is-flex.is-justify-content-end

    button.button.is-primary.is-light.is-small(hx-post='/todos/mark-all-as-completed', hx-target='#todo-list', hx-swap='outerHTML') Complete all

    button.button.is-warning.is-light.is-small(hx-post='/todos/clear-completed', hx-target='#todo-list', hx-swap='outerHTML') Clear completed

    button.button.is-danger.is-light.is-small(hx-post='/todos/clear', hx-target='#todo-list', hx-swap='outerHTML') Clear all